{% extends "base.html" %}

{% block title %}Bilans{% endblock %}

{% block footer %}
<script src='https://cdn.plot.ly/plotly-2.26.0.min.js'></script>
<script>

function plotIncomesChart() {

    {% if income_balanceOfDate is not null or income_balanceOfDate is not empty %}
    var lab2 = [];
    var val2 = [];
        {% for income in income_balanceOfDate %}
            lab2 [{{ loop.index }}] = '{{ income.name }}'
            val2 [{{ loop.index }}]  = {{income.sumincome}}
        {% endfor %};
    {% endif %}

    var data = [{
        values: val2,
        labels: lab2,
        textposition: 'inside',
        name: 'PRZYCHODY',
        hoverinfo: 'value+label+name',
        hole: .5,
        type: 'pie'
    }];

    var layout = {
        annotations: [{
            font: {
                size: 20,
                color: '#f7f0ef'
                },
            showarrow: false,
            text: 'Przychody',
            x: 0.5,
            y: 0.5
            }],
        showlegend: false,
        height: 200,
        margin: {"t": 0, "b": 0, "l": 0, "r": 0},
        paper_bgcolor: 'transparent',
        modebar: {
            bgcolor: 'transparent'
            }
    };

    {% if income_balanceOfDate %}
        Plotly.newPlot('myDiv', data, layout, {displaylogo: false});
    {% endif %}
}
Plotly.Plot(plotIncomesChart()); 
</script>
<script src='https://cdn.plot.ly/plotly-2.26.0.min.js'></script>
<script>
function plotExpensesChart() {

{% if expense_balanceOfDate is not null or expense_balanceOfDate is not empty %}
var lab1 = [];
var val1 = [];
    {% for expense in expense_balanceOfDate %}
        lab1 [{{ loop.index }}] = '{{ expense.name }}'
        val1 [{{ loop.index }}]  = {{expense.sumexpense}}
    {% endfor %};
{% endif %}

 var data = [{
    values: val1,
    labels: lab1,
    textposition: 'inside',
    name: 'WYDATKI',
    hoverinfo: 'value+label+name',
    hole: .5,
    type: 'pie'
    }];

var layout = {
    annotations: [{
        font: {
            size: 20,
            color: '#f7f0ef'
            },
        showarrow: false,
        text: 'Wydatki',
        x: 0.5,
        y: 0.5}],
    showlegend: false,
    height: 200,
    margin: {"t": 0, "b": 0, "l": 0, "r": 0},
    paper_bgcolor: 'transparent',
    modebar: {
        bgcolor: 'transparent'
        }
};

{% if expense_balanceOfDate %}
    Plotly.newPlot('myDiv2', data, layout, {displaylogo: false});
{% endif %}

}
Plotly.Plot(plotExpensesChart());
</script>

<script src="/js/customDate.js"></script>
<script src="/js/bilans2.js"></script>
{% endblock %}
{% block body %}

<section style="margin-bottom: 25px;">
    <div class="col-md-10 mx-auto my-4 py-5 col-lg-12 text-body-secondary">
        <div class="p-3 p-md-4 border rounded-3 bg-body-tertiary">
            <form method="post" action="/bilans/edit" id="formBilans" class="col-lg-12">
                {% if session.e_period is defined %}
                    <div class="error">
                        {{ session.e_period }}
                    </div>
                {% endif %}
                <div class="row p-3">
                    <div class="col-lg-4 col-md-12"> 
                        <select class="form-select" name="period" required>
                            <option value="">Wybierz okres</option>
                            <option value="current_month" selected="selected">Bieżący miesiąc</option>
                            <option value="last_month">Poprzedni miesiąc</option>
                            <option value="current_year">Bieżący rok</option>
                            <option value="custom_period">Dostosuj</option>
                        </select>
                        <div class="mt-1">
                            <button class="w-100 btn btn-outline-dark rounded-3 btn-sm">Pokaż bilans</button>
                        </div>             
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <label class="form-label hidden" type="date" for="start_date">Data od:</label>
                        <input class="form-control hidden " type="date" name="start_date" min='2000-01-01' id="start_date" >
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <label class="form-label hidden" for="end_date">Data do:</label>
                        <input class="form-control hidden" type="date" name="end_date" min='2000-01-01' id="end_date">
                    </div>
                </div>
            </form>

            {% if incomesOfDates is not null or expensesOfDates is not null %}
                <h1 class="background mb-0 fs-2 mb-2 pb-2">Bilans od {{start_date}} do {{end_date}}!</h1>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="col-lg-12 m-0">
                            <h3 class="text-center">Przychody</h3>
                            <table class="table table-success table-striped">
                                <thead>
                                    <tr>
                                        <th>Nr.</th><th>Kategoria</th><th>Kwota</th><th>Data</th><th colspan="3">Komentarz</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if incomesOfDates %}
                                        {% set sumincomes = 0 %}    
                                        {% for income in incomesOfDates %}
                                            {% set sumincomes = sumincomes + income.amount %}
                                            <tr>    
                                                <td>{{ loop.index }}</td>
                                                <td>{{ income.name }}</td>
                                                <td>{{ income.amount }} zł</td>
                                                <td>{{ income.date_of_income }}</td>
                                                <td colspan="2">{{income.income_comment}}</td>
                                                <td><button type="button" class="btn btn-outline-secondary btn-sm" onclick="removeItem('income', {{ income.id }})">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"></path>
                                                    </svg>
                                                </tr>
                                            {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="7">Brak przychodów!</td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-12 m-0">
                            <h3 class="text-center">Wydatki</h3>
                            <table class="table table-warning table-striped">
                                <thead>
                                    <tr>
                                        <th>Nr.</th><th>Kategoria</th><th>Kwota</th><th>Data</th><th>Rodzaj płatności</th><th colspan="3">Komentarz</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if expensesOfDates %} 
                                        {% set sumexpenses = 0 %}
                                        {% for expense in expensesOfDates %}
                                            {% set sumexpenses = sumexpenses + expense.amount %}
                                            <tr>    
                                                <td>{{ loop.index }}</td>
                                                <td>{{ expense.name }}</td>
                                                <td>{{ expense.amount }} zł</td>
                                                <td>{{ expense.date_of_expense }}</td>
                                                <td>{{ expense.payname }}</td>
                                                <td colspan="2">{{expense.expense_comment}}</td> 
                                                <td><button type="button" class="btn btn-outline-secondary btn-sm" onclick="removeItem('expense', {{ expense.id }})">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"></path>
                                                    </svg></button>
                                                </tr>
                                            {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="8">Brak wydatków!</td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <div class="background col-lg-4 m-0 text-center">
                        <h3 class="py-2" style="border-bottom: solid;" >Zestawienie bilansu </h3>
                        {% set sumbilans = sumincomes - sumexpenses %}
                        <h4>{{ sumbilans }} zł</h4>
                        {% if sumbilans > 0 %}
                            <h5>Brawo Twój bilans jest dodatni!</h5>
                            {% elseif sumbilans < 0 %}
                                <h5>Niestety Twój bilans jest ujemny!</h5>
                            {% else %}
                                <h5>Twój bilans jest zerowy</h5> 
                        {% endif %}
                        <div id='myDiv' class=" p-0 pt-2"></div>
                        <div id='myDiv2' class=" p-0 pt-2"></div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

</section>

<div class="modal fade modal" id="remove-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="remove-modal" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdrop">Usuwanie!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Czy jesteś pewien, aby usunąć dany wiersz?
            </div>
            <div class="modal-footer">    
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Wróć</button>
                <button type="button" class="btn btn-outline-dark" id="remove-btn" >Usuń</button>
            </div>
        </div>
        </div>
</div>

<div class="modal fade" id="confirmation-modal" tabindex="-1" aria-labelledby="confirmation-modal" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="confirmation-title"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" id="confirmation-body"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-dark" data-bs-dismiss="modal">Wróć</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}