{% extends 'base.html' %}

{% block title %}Sign up{% endblock %}

{% block footer %}
    <script src="/js/hideShowPassword.min.js"></script>
    <script src="/public/js/app.js"></script>

    <script>
        
        $(document).ready(function() {

            /**
             * Validate the form
             */
            $('#formSignup').validate({
                rules: {
                    name: 'required',
                    email: {
                        required: true,
                        email: true,
                        remote: '/account/validate-email'
                    },
                    password: {
                        required: true,
                        minlength: 6,
                        validPassword: true
                    }
                },
                messages: {
                    email: {
                        remote: 'email already taken'
                    }
                }
            });


            /**
              * Show password toggle button
              */
            $('#inputPassword').hideShowPassword({
                show: false,
                innerToggle: 'focus'
            });
        });
    </script>

{% endblock %}

{% block body %} 

{% if user.errors is not empty %}
    <p>Errors:</p>
    <ul>
        {% for error in user.errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}
<section style="margin-bottom: 95px;">
    <div class="col-md-10 mx-auto my-4 py-5 col-lg-5 text-body-secondary">
        <form method="post" action="/signup/create" id="formSignup" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
            <h1>Rejestracja!</h1>

            <div class="form-group">
                <label for="inputName"></label>
                <input id="inputName" name="name" placeholder="Podaj imię" autofocus value="{{ user.name }}" required 
                class="form-control" />
            </div>
            <div class="form-group">
                <label for="inputEmail"></label>
                <input id="inputEmail" name="email" placeholder="Podaj adres email" value="{{ user.email }}" required type="email"
                class="form-control" />
            </div>
            <div class="form-group py-3">
                <label for="inputPassword"></label>
                <input type="password" id="inputPassword" name="Podaj hasło" placeholder="Password" required
                class="form-control" />
            </div>

            <button type="submit" class="w-100 mb-2 btn btn-outline-dark rounded-3 btn-lg">Załóż konto!</button>

        </form>
    </div>
</section>

{% endblock %}
