{% extends 'base.html' %}

{% block title %}Resetowanie hasła{% endblock %}

{% block footer %}
    <script src="/js/hideShowPassword.min.js"></script>

    <script>
        $.validator.addMethod('validPassword',
            function(value, element, param) {
                if (value != '') {
                    if (value.match(/.*[a-z]+.*/i) == null) {
                        return false;
                    }
                    if (value.match(/.*\d+.*/) == null) {
                        return false;
                    }
                }

                return true;
            },
            'Hasło musi zawierać co najmniej 1 literę i 1 liczbę'
        );

        $(document).ready(function() {

            /**
             * Validate the form
             */
            $('#formPassword').validate({
                rules: {
                    name: 'required',
                    email: {
                        required: true,
                        email: true,
                        remote: '/account/validate-email'
                    },
                    password: {
                        required: true,
                        minlength: 6,
                        validPassword: true
                    },
                },
                messages: {
                    email: { 
                        remote: 'Email jest już zajęty!',
                        required: 'To pole nie może być puste!',
                        email: 'Wpisz poprawny adres email'
                    },
                    name : 'To pole nie może być puste!',
                    password: {
                        required: 'To pole nie może być puste!',
                        minlength: 'Hasło powinno zawierać co najmniej 6 znaków'
                    }
                }
            });

            /**
              * Show password toggle button
              */
              $('#inputPassword').hideShowPassword({
                show: false,
                innerToggle: 'focus',
                toggle: {
                    element: '<button type="button" class="w-10 mb-2 btn btn-outline-secondary rounded-3 btn-s">',
                    verticalAlign: 'top'
                    },
                
                    states: {
                        shown: {
                            props: { type: 'Pokaż hasło' },
                            toggle: {
                                className: 'hideShowPassword-toggle-hide',
                                content: 'Ukryj',
                                attr: {
                                'aria-pressed': 'true',
                                title: 'Ukryj hasło',
                                }
                            }
                        },
                        hidden: {
                        props: { type: 'password' },
                        toggle: {
                            className: 'hideShowPassword-toggle-show',
                            content: 'Pokaż',
                            attr: {
                            'aria-pressed': 'false',
                            title: 'Pokaż hasło',
                            }
                            }
                        }
                    }
            });
        });
    </script>

{% endblock %}

{% block body %}

    {% if user.errors is not empty %}
        <p>Errors:</p>
        <ul>
            {% for error in user.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <section style="margin-bottom: 95px;">
        <div class="col-md-10 mx-auto my-4 py-5 col-lg-8 text-body-secondary"> 
            <form method="post" id="formPassword" action="/password/reset-password" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
                <h2 class="background">Zresetuj hasło!</h2>
                
                <input type="hidden" name="token" value="{{ token }}" />

                <div class="form-group py-2">
                    <label for="inputPassword"></label>
                    <input type="password" id="inputPassword" name="password" placeholder="Wpisz hasło" required
                    class="form-control" />
                </div>

                <button type="submit" class="w-100 mb-2 btn btn-outline-secondary rounded-3 btn-lg">Resetowanie</button>

            </form>
        </div>
    </section>

{% endblock %}
