{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="my-5 py-5 text-center" >
        <div class="box1 col col-lg-8 px-3 py-5 mx-auto">
            <h1 class="display-5 fw-bold lh-1 mb-3">Zapanuj nad swoimi finansami!</h1>
            <h2 class="lead mb-5 mt-2"> Odpowiednie zarządzanie domowymi przychodami i wydatkami jest niezwykle ważne dla organizacji codziennego życia. A teraz jest to jeszcze łatwiejsze!.  </h2>
            
            <form class="d-grid gap-3 d-md-flex justify-content-center">
                {% if current_user %}
                <h2>Cześć {{ current_user.name }}! <br><br>
                    Dziś jest dzień w którym napewno coś zmienisz!
                    {% else %}</h2>
                <button type="button" class="btn btn-light btn-outline-secondary btn-lg px-4 me-md-2"><svg width="31" height="31" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8.4 6c-.951 0-1.8.814-1.8 1.92 0 1.105.849 1.92 1.8 1.92.95 0 1.8-.815 1.8-1.92C10.2 6.814 9.35 6 8.4 6ZM4.2 7.92c0-2.341 1.836-4.32 4.2-4.32 2.363 0 4.2 1.979 4.2 4.32 0 2.34-1.837 4.32-4.2 4.32-2.364 0-4.2-1.98-4.2-4.32Z" clip-rule="evenodd"></path>
                    <path fill-rule="evenodd" d="M1.2 17.8c0-3.954 3.346-6.92 7.215-6.92 3.878 0 7.184 2.974 7.184 6.92v2.6a1.2 1.2 0 1 1-2.4 0v-2.6c0-2.496-2.104-4.52-4.784-4.52-2.688 0-4.816 2.032-4.816 4.52l.002 2.6a1.2 1.2 0 0 1-2.4.002L1.2 17.8Z" clip-rule="evenodd"></path>
                    <path fill-rule="evenodd" d="M22.316 4.95a1.2 1.2 0 0 1 .466 1.632l-3.334 6a1.2 1.2 0 1 1-2.098-1.166l3.334-6a1.2 1.2 0 0 1 1.632-.466Z" clip-rule="evenodd"></path>
                    <path fill-rule="evenodd" d="M14.13 8.583a1.2 1.2 0 0 1 1.687-.187l3.333 2.666a1.2 1.2 0 1 1-1.5 1.875l-3.332-2.667a1.2 1.2 0 0 1-.188-1.687Z" clip-rule="evenodd"></path>
                  </svg><a href="/signup/new" class="link-body-emphasis text-decoration-none"> Rejestracja!</a></button>
                
                <button type="button" class="btn btn-light btn-outline-secondary btn-lg px-4 me-md-2"><svg width="31" height="31" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M13.74 9.3a1.2 1.2 0 0 1 1.2-1.2h6.3a1.2 1.2 0 1 1 0 2.4h-6.3a1.2 1.2 0 0 1-1.2-1.2Z" clip-rule="evenodd"></path>
                    <path fill-rule="evenodd" d="M18 13.8a1.2 1.2 0 0 1-1.2-1.2V6.3a1.2 1.2 0 1 1 2.4 0v6.3a1.2 1.2 0 0 1-1.2 1.2Z" clip-rule="evenodd"></path>
                    <path fill-rule="evenodd" d="M8.4 6c-.951 0-1.8.814-1.8 1.92 0 1.105.849 1.92 1.8 1.92.95 0 1.8-.815 1.8-1.92C10.2 6.814 9.35 6 8.4 6ZM4.2 7.92c0-2.341 1.836-4.32 4.2-4.32 2.363 0 4.2 1.979 4.2 4.32 0 2.34-1.837 4.32-4.2 4.32-2.364 0-4.2-1.98-4.2-4.32Z" clip-rule="evenodd"></path>
                    <path fill-rule="evenodd" d="M1.2 17.8c0-3.954 3.346-6.92 7.215-6.92 3.878 0 7.184 2.974 7.184 6.92v2.6a1.2 1.2 0 1 1-2.4 0v-2.6c0-2.496-2.104-4.52-4.784-4.52-2.688 0-4.816 2.032-4.816 4.52l.002 2.6a1.2 1.2 0 0 1-2.4.002L1.2 17.8Z" clip-rule="evenodd"></path>
                  </svg><a href="/login" class="link-body-emphasis text-decoration-none">  Logowanie! </a></button>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
