{% extends 'base.html' %}

{% block title %}Kategorie{% endblock %}

{% block footer %}
<script src="/js/settings.js"></script>
{% endblock %}

{% block body %}
<section style="margin-bottom: 25px;">
	<div class="col-md-10 mx-auto my-3  col-lg-12 text-body-secondary">
		<div class="p-md-3 border rounded-3 bg-body-tertiary">
			<h1 class="background mb-0 fs-2 mb-2 pb-2">Zmień swoje kategorie!</h1>
		</div>
	</div>
		<div class="row">
			<div class="col-lg-4 text-body-secondary mb-2 pb-4">
				<div class="p-3 p-md-2 border rounded-3 bg-body-tertiary">
					<h3 class="text-center py-2">Przychody</h3>
					<table class="table table-success table-striped table-sm">
						<thead>
							<tr>
								<th>Nr.</th><th >Kategoria</th><th colspan="2"><button class="btn btn btn btn-outline-primary modal-btn btn-sm" data-bs-toggle="modal" data-bs-target="#add-edit-modal" onclick="prepareForm('add', 'income', 0, '')" type="button">+ Dodaj kategorię</button></th>
							</tr>
						</thead>
						<tbody>
							{% for income_category in income_categories %}
							<tr>    
								<td>{{ loop.index }}</td>
								<td colspan="2">{{ income_category.name }}</td>
								<td>
									<div class="btn-group">
										<button type="button" class="modal-btn btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#add-edit-modal" onclick="prepareForm('edit', 'income', {{ income_category.id }}, '{{ income_category.name }}')">
										  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
											<path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
											</svg></button>
										<button type="button" class="btn btn-outline-secondary btn-sm" onclick="checkRemoveCategory('income', {{ income_category.id }})">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
												<path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"></path>
											</svg></button>
									</div>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-lg-4 text-body-secondary mb-2 pb-4">
				<div class="p-3 p-md-2 border rounded-3 bg-body-tertiary">
					<h3 class="text-center py-2">Wydatki</h3>
					<table class="table table-success table-striped table-sm">
						<thead>
							<tr>
								<th>Nr.</th><th >Kategoria</th><th colspan="2"><button class="btn btn btn-outline-primary modal-btn btn-sm" data-bs-toggle="modal" data-bs-target="#add-edit-modal" onclick="prepareForm('add', 'expense', 0, '')" type="button">+ Dodaj kategorię</button></th>
							</tr>
						</thead>
						<tbody>
							{% for expense_category in expense_categories %}
							<tr>    
								<td>{{ loop.index }}</td>
								<td colspan="2">{{ expense_category.name }}</td>
								<td>
									<div class="btn-group">
										<button type="button" class="btn btn-outline-info btn-sm">
											Limit:
											{{ expense_category.cash_limit | number_format(2, ',', ' ') }}
										</button>
										<button type="button" class="modal-btn btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#add-edit-modal" onclick="prepareForm('edit', 'expense', {{ expense_category.id }}, '{{ expense_category.name }}')">
										  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
											<path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
											</svg></button>
										<button type="button" class="btn btn-outline-secondary btn-sm" onclick="checkRemoveCategory('expense', {{ expense_category.id }})">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
												<path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"></path>
											</svg></button>
									</div>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-lg-4 text-body-secondary mb-2 pb-4">
				<div class="p-3 p-md-2 border rounded-3 bg-body-tertiary">
					<h3 class="text-center py-2">Rodzaj płatności</h3>
					<table class="table table-success table-striped table-sm">
						<thead>
							<tr>
								<th>Nr.</th><th>Kategoria</th><th colspan="2"><button class="btn btn btn-outline-primary modal-btn btn-sm" data-bs-toggle="modal" data-bs-target="#add-edit-modal" onclick="prepareForm('add', 'payment', 0, '')" type="button">+ Dodaj kategorię</button></th>
							</tr>
						</thead>
						<tbody>
							{% for payment_category in payment_categories %}
							<tr>    
								<td>{{ loop.index }}</td>
								<td>{{ payment_category.name }}</td>
								<td>
									<div class="btn-group">
										<button type="button" class="modal-btn btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#add-edit-modal" onclick="prepareForm('edit', 'payment', {{ payment_category.id }}, '{{ payment_category.name }}')">
										  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
											<path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
											</svg></button>
										<button type="button" class="btn btn-outline-secondary btn-sm" onclick="checkRemoveCategory('payment', {{ payment_category.id }})">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
												<path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"></path>
											</svg></button>
									</div>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
</section>

<div class="modal fade" id="add-edit-modal" tabindex="-1" aria-labelledby="add-edit-modal" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="add-edit-title"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form id="add-edit-form">
				<div class="modal-body">
					<div class="mb-3">
						<label class="form-label" id="add-edit-label" for="new-category-name"></label>
						<input class="form-control" id="new-category-name" type="text" name="new-category-name" value="" required>
					</div>
					<div class="mb-3" id="first-form-element"></div>
					<div class="mb-3" id="second-form-element"></div>
					<div id="add-edit-message" class="form-text error"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Wróć</button>
						<button type="submit" class="btn btn-dark" id="submit-form-btn"></button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>


<div class="modal fade" id="remove-entries-modal" tabindex="-1" aria-labelledby="remove-entries-modal" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Usuwanie kategorii</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p> Kategoria posiada wartości.</p>
				<p> Czy napewno chcesz usunąć daną kategorią i wszystkie wartości, które się w niej znajdują?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Wróć</button>
				<button type="button" class="btn btn-dark" id="remove-category-btn">Zatwierdź</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="confirmation-modal" tabindex="-1" aria-labelledby="confirmation-modal" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="confirmation-title"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" id="confirmation-body"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-dark" data-bs-dismiss="modal">Wróć</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}