{% extends "base.html" %}

{% block title %}Ustawienia Konta{% endblock %}

{% block body %}
    <section style="margin-bottom: 95px;">
        <div class="col-md-10 mx-auto my-4 py-5 col-lg-8 text-body-secondary">
            <h1 class="background">Dane Twojego konta!</h1>
            <div class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
                <dl class="row">
                    <dt class="col-sm-3">Imię</dt>
                    <dd class="col-sm-9">{{ user.name }}</dd>
                    <dt class="col-sm-3">Email</dt>
                    <dd class="col-sm-9">{{ user.email }}</dd>
                </dl>
            </div>
                <button type="button" class="w-50 btn btn-light btn-outline-secondary btn-lg px-4 me-md-2"><a href="/profile/edit" style="text-decoration: none; color: rgb(73, 63, 77);">Edytuj</a></button>">Edit</a> 
        </div>
    </section>

{% endblock %}
